<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PANEL</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

</head>
<body class="bg-light">
<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:utext="${autUser.login + ' with roles: ' +
        #strings.listJoin(autUser.getRoleTitles(), ', ')}">Логин</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid p-0">
    <div class="d-flex align-items-start">
        <div class="col col-2 bg-white vh-100 text-center">
            <div class="nav flex-column nav-pills bg-white" id="myTab">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:classappend="${autUser.getRoleTitles().contains('ROLE_ADMIN')} ? 'active' : ''" data-bs-toggle="pill" href="#adminPanelPage">Администратор</a>
                <a class="nav-link" th:classappend="${!autUser.getRoleTitles().contains('ROLE_ADMIN')} ? 'active' : ''" data-bs-toggle="pill" href="#userPage">Пользователь</a>
            </div>
        </div>
        <div class="col mx-auto p-4">
            <div class="tab-content">
                <div class="tab-pane fade" th:classappend="${autUser.getRoleTitles().contains('ROLE_ADMIN')} ? 'show active' : ''"  id="adminPanelPage" role="tabpanel">
                    <div><h1>База данных пользователей</h1></div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a aria-controls="nav-home" aria-selected="true" class="nav-link active"
                               data-toggle="tab" href="#nav-home" id="nav-home-tab" role="tab">Таблица пользователей</a>
                            <a aria-controls="nav-profile" aria-selected="false" class="nav-link addUser" data-toggle="tab"
                               href="#nav-profile" id="nav-profile-tab" role="tab">Новый пользователь</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
                            <div class="card">
                                <h5 class="card-header">Все пользователи</h5>
                                <div class="card-block p-3">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Зарплата</th>
                                            <th>Департамент</th>
                                            <th>Логин</th>
                                            <th>Права</th>
                                            <th>Редактировать</th>
                                            <th>Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--Add new user-->
                        <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
                            <div class="card">
                                <h5 class="card-header">Добавление нового пользователя</h5>
                                <div class="card-block mx-auto p-2">
                                    <form class="text-center fw-bold">
                                        <div class="form-group">
                                            <label class="col-form-label" for="name1">Имя</label>
                                            <input class="form-control" id="name1"
                                                   name="name" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label" for="surname1">Фамилия</label>
                                            <input class="form-control" id="surname1"
                                                   name="surname" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="salary1">Зарплата</label>
                                            <input class="form-control" id="salary1"
                                                   max="100000" min="0" name="age" size="6" type="number" value="">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="department1">Департамент</label>
                                            <input class="form-control" id="department1"
                                                   name="department" type="text" value="">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="login1">Логин</label>
                                            <input class="form-control" id="login1"
                                                   name="login" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label" for="password1">Пароль</label>
                                            <input class="form-control" id="password1"
                                                   name="password" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"
                                                   for="roleAdd">Права</label>
                                            <select class="custom-select form-control"
                                                    multiple name="roles" id="roleAdd">
                                                <option th:each="oneRole: ${allRoles}"
                                                        th:selected="${oneRole.role == 'ROLE_USER'}"
                                                        th:text="${oneRole.role}"
                                                        th:value="${oneRole.id}"
                                                >all roles
                                                </option>
                                            </select>
                                        </div>
                                        <br>
                                        <button class="btn btn-success" type="button" id="addUserButton">Добавить нового пользователя</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--User Page-->
                <div class="tab-pane fade" th:classappend="${!autUser.getRoleTitles().contains('ROLE_ADMIN')} ? 'show active' : ''" id="userPage" role="tabpanel">
                    <div><h1>Информация пользователя</h1></div>
                    <div class="card">
                        <h5 class="card-header">О пользователе:</h5>
                        <div class="card-block p-3">
                            <table class="table table-striped mx-auto">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя</th>
                                    <th>Surname</th>
                                    <th>Зарплата</th>
                                    <th>Департамент</th>
                                    <th>Логин</th>
                                    <th>Права</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${autUser}">
                                    <td th:text="*{id}">id</td>
                                    <td th:text="*{name}">name</td>
                                    <td th:text="*{surname}">surname</td>
                                    <td th:text="*{salary}">salary</td>
                                    <td th:text="*{department}">department</td>
                                    <td th:text="*{login}">login</td>
                                    <td>
                                        <span th:text="${#strings.listJoin(autUser.getRoleTitles(), ', ')}">role</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Edit Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel"
     class="modal fade" id="editModal"
     role="dialog" tabindex="-1">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование пользователя</h5>
                    <button aria-label="Close" class="close"
                            data-dismiss="modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-auto text-center fw-bold">
                    <div class="form-group">
                        <label class="col-form-label" for="userId">ID</label>
                        <input class="form-control" id="userId"
                               name="id" readonly type="text" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="userName">Имя</label>
                        <input class="form-control" id="userName"
                               name="name" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="userSurname">Фамилия</label>
                        <input class="form-control" id="userSurname" name="surname" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="userSalary">Зарплата</label>
                        <input class="form-control" id="userSalary"
                               max="100000" min="0" name="salary"
                               size="6" type="number" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="userDepartment">Департамент</label>
                        <input class="form-control" id="userDepartment"
                               name="department" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="userLogin">Логин</label>
                        <input class="form-control" id="userLogin"
                               name="login" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="userPassword">Пароль</label>
                        <input class="form-control" id="userPassword"
                               name="password" type="password" value="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="userRoles">Права</label>
                        <select class="custom-select form-control"
                                id="userRoles" multiple name="roles">
                            <option
                                    th:each="oneRole: ${allRoles}"
                                    th:text="${oneRole.role}"
                                    th:value="${oneRole.id}">all roles
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            data-dismiss="modal"
                            id="userCloseButton" type="button">Отменить
                    </button>
                    <button class="btn btn-primary" id="userEditButton" type="button">Сохранить изменения
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Delete Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabelDelete"
     class="modal fade" id="deleteModal"
     role="dialog" tabindex="-1">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelDelete"> Удаление пользователя
                    </h5>
                    <button aria-label="Close" class="close"
                            data-dismiss="modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-auto text-center fw-bold">
                    <div class="form-group">
                        <label class="col-form-label"
                               for="userIdDelete">ID</label>
                        <input class="form-control" name="id"
                               readonly id="userIdDelete" value="" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="nameDelete">Имя</label>
                        <input class="form-control" name="name" readonly
                               id="nameDelete" value="" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="surnameDelete">Фамилия</label>
                        <input class="form-control" name="surname" readonly
                               id="surnameDelete" value="" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="salaryDelete">Зарплата</label>
                        <input class="form-control" max="100000"
                               min="0" name="salary" readonly size="6"
                               id="salaryDelete" value="" type="number">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="departmentDelete">Департамент</label>
                        <input class="form-control" name="department" readonly
                               id="departmentDelete" value="" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"
                               for="loginDelete">Логин</label>
                        <input class="form-control" name="login" readonly
                               id="loginDelete" value="" type="text">
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label class="col-form-label" for="userPasswordDelete">Password</label>-->
<!--                        <input class="form-control" id="userPasswordDelete"-->
<!--                               name="password" type="password" readonly value="">-->
<!--                    </div>-->

                    <div class="form-group">
                        <label class="col-form-label"
                               for="userRolesDelete">Права</label>
                        <select class="custom-select form-control" multiple
                                name="roles" readonly id="userRolesDelete">
                            <option
                                    th:each="oneRole: ${allRoles}"
                                    th:text="${oneRole.role}"
                                    th:value="${oneRole.id}">all roles
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            data-dismiss="modal"
                            type="button" id="userCloseButtonDelete">Закрыть
                    </button>
                    <button class="btn btn-warning" type="button" id="userDeleteButton">Подтвердить удаление
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>